#root{
  background-color: #fdfdfd;
}
.sidebar{
  position:fixed;
  height: 100%;
  width: 15%;
  background-color: #fdfdfd;
  top: 0px;
  box-shadow:0px 0px 1px #aaa8aa
}
.workspace {
  position: relative;
  color: black;
  left: 15%;
  top: 0px;
  height: 100%;
  width: 80%;
  margin-left: 20px;
  background-color: #fdfdfd;
}
.app-header {
  height: 60px;
  width: 85%;
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 15%;
  background-color: #fdfdfd;
  box-shadow:0px 1px 0px #f3f0f3
}
.header-user {
  position: absolute;
  top: -15px;
  right: 10px;
}
.headermenu {
  position: absolute;
  top: 35px;
  right: 0px;
  height: 20px;
}
.user-menu {
  position: absolute;
  top: 10px;
  right: 0px;
}
.header-username {
  position: relative;
  left: -100px;
}
.header-user-title {
  position: relative;
  left: -100px;
}
.header-user-image {
  position: relative;
  top: -65px;
  right: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.header-reminder {
  position: absolute;
  right: 300px;
  top: 10px;
  height: 40px;
  width: 40px;
  background-color: #e9ecef;
  border-radius: 50%;
}
.reminder-icon {
  position: relative;
  left: 7.25px;
  top: 10px;
}
.reminder-count {
  position: absolute;
  right: 308px;
  top: 17px;
  height: 10px;
  width: 10px;
  background-color: #df3131;
  border-radius: 50%;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #e9ecef;
}
.issueHead {
  background-color: #dee2e7;
}
.issueList {
  position: relative;
  margin-bottom: 50px;
}
.issueListItem:hover {
  background-color: #e9ecef;
}
.addEvent {
  position: absolute;
  top:72px;
  z-index: 100;
  left: 200px;
}
